# pre-commit https://pre-commit.com/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      # - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-json
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "_conftest.py"
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: double-quote-string-fixer
      - id: detect-private-key
      - id: detect-aws-credentials
      - id: forbid-submodules

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        args: []

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.18.1
    hooks:
      - id: cython-lint
        args: [--max-line-length=79]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
        args: [--end-of-line=auto]
        types_or: [yaml, markdown, json]

  - repo: https://github.com/myint/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py312-plus, --keep-runtime-typing]

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black

  - repo: https://github.com/keewis/blackdoc
    rev: v0.4.6
    hooks:
      - id: blackdoc
        additional_dependencies: ["black==25.12.0"]
      - id: blackdoc-autoupdate-black

  # when running with --fix place ruff lint hook
  # before ruff-format, black, isort, etc
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
  #     args: [--fix --show-fixes]
  #   - id: ruff-format

  # - repo: https://github.com/PyCQA/flake8
  #   rev: 7.3.0
  #   hooks:
  #   - id: flake8
  #     additional_dependencies: [flake8-typing-imports, flake8-docstrings]

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.19.1
  #   hooks:
  #   - id: mypy
  #     files: src
  #     args: []

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autofix_prs: false
  autoupdate_schedule: weekly
