# Minimum version requirements for the PhasorPy library
#
numpy==2.0.2; python_version == "3.12"
matplotlib==3.9.4; python_version == "3.12"
pandas==2.2.3; python_version == "3.12"
scipy==1.13.1; python_version == "3.12"
scikit-image==0.23.0; python_version == "3.12"
scikit-learn==1.5.0; python_version == "3.12"
xarray==2024.6.0; python_version == "3.12"
tifffile==2024.8.30; python_version == "3.12"
lfdfiles==2024.5.24; python_version == "3.12"
fbdfile==2025.9.18; python_version == "3.12"
sdtfile==2024.5.24; python_version == "3.12"
ptufile==2024.9.14; python_version == "3.12"
liffile==2025.2.10; python_version == "3.12"
pawflim==1.0.4; python_version == "3.12"
