# Minimum version requirements for the PhasorPy library
#
numpy==2.0.2; python_version == "3.11"
matplotlib==3.9.4; python_version == "3.11"
pandas==2.2.3; python_version == "3.11"
scipy==1.13.1; python_version == "3.11"
scikit-image==0.22.0; python_version == "3.11"
scikit-learn==1.5.0; python_version == "3.11"
xarray==2023.10.1; python_version == "3.11"
tifffile==2024.8.30; python_version == "3.11"
lfdfiles==2024.5.24; python_version == "3.11"
sdtfile==2024.5.24; python_version == "3.11"
ptufile==2024.9.14; python_version == "3.11"
liffile==2025.2.10; python_version == "3.11"
pawflim==1.0.4; python_version == "3.11"
