name: Build wheels

on:
  push:
    tags:
      - '*'
    branches:
     - main
  # pull_request:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-12, windows-2019]
    steps:
      - uses: actions/checkout@v4
      - uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD_VERBOSITY: 3
          CIBW_ARCHS_LINUX: auto
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ARCHS_WINDOWS: AMD64 ARM64
          CIBW_BEFORE_BUILD: pip install -U numpy>=2.0.0rc1
      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: wheels-${{ matrix.os }}
