name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MPLBACKEND: agg

jobs:
  test_win_mac:
    name: Test Windows and macOS
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest", "macos-latest"]
        # Linux tested with code-coverage and deploy-docs
        python-version: ["3.14"]
        # 3.12 tested with build-wheels
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Editable install
        run: |
          python -m pip install --upgrade pip
          python -m pip install -v --editable .
          python -m pip install --upgrade --group optional --group test --group docs
      - name: Test with pytest
        run: |
          python -X dev -m pytest
      - name: Build docs
        run: |
          cd docs
          make dirhtml

  static_analysis:
    name: Static code analysis
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Editable install
        run: |
          python -m pip install --upgrade pip
          python -m pip install --editable .
          python -m pip install --upgrade --group optional --group lint
      - name: Test with black
        run: |
          python -m black --check src/phasorpy tutorials docs
      - name: Test with blackdoc
        run: |
          python -m blackdoc --check src/phasorpy
      - name: Test with mypy
        run: |
          python -m mypy
      - name: Test with isort
        run: |
          python -m isort --check src/phasorpy tutorials
      - name: Check spelling
        run: |
          python -m codespell_lib
